nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}

nav a:hover {
    color: #ddd;
}

nav ul {
    list-style: none;
    display: flex;
    
}


@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav .logo {
        align-self: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    nav li {
        margin: 10px 0;
    }
}
